body {
    background-color: orange;
    color: purple;
}
.body {
    background-color: greenyellow;
    padding: 2rem;
    border-radius: 0.5rem;
    border: 1px solid purple;
    max-width: 20rem;
    margin: 0 auto;
}
header, footer {
    text-align: center;
}
header {
    margin-top: 10%;
    margin-bottom: 1.5rem;
    text-decoration: underline;
}
.input {
margin-bottom: 0.5rem;
display: flex;
justify-content: center;
}
.other-actions {
    display: flex;
    justify-content: center;
margin-bottom: 0.5rem;
}
.todoItems {
    background-color: orange;
    height: 30vh;
    padding-top: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid purple;
}
.add {
    background-color: orange;
    border-color: orange;
    color: purple;
    margin-left: 0.2rem;
}
.delete {
    background-color: red;
    border-color: red;
    color: purple;
}
